
<template>
   <div id="app">
    <div class="b-item" v-for="data in check(myJson)">
      <tree :tree-data="data"></tree>
    </div>
  </div>
</template>



<script>


import Tree from './Tree'


//import json from '../test.json'
export default {
    

  data: () => {
      return {
          myJson: [],
      }

  },

  methods: {

    check: function (data) {
      if (data != 'undefined') {
        return data;
      }
    }
  },

  components: {
    Tree
  },

  mounted () {

    axios
        .get('http://localhost:8080/test.json')
        .then(response => (this.myJson = response.data))
        .catch(error => console.log(error));
    
  }

}

</script>

<style>

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: auto;
  margin-top: 60px;
  max-width: 1000px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.b-item{
    border: 2px solid #000000;
    padding: 30px;
    min-width: 250px;
    max-width: 300px;
    min-height: 150px;
    margin: 0 5px 10px;
    display: inline-flex;
    flex-flow: column;
    justify-content: start;
    text-align: left;
    vertical-align: top;
}
h1,h2,h3{
  font-weight: normal;
}
.b-item h1{
    font-size: 30px;
    margin: 0 0 20px;
}
.b-item__child h2{
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.b-item__child{
    background: #ececee;
    font-size: 0.8em; 
    display: block;
    padding: 5px;
}

.b-item__child_child{
    background: #bababa;
    margin: 0 0 0 15px;
}
</style>
