<template>
  <li class="node-tree">
    <span class="label">Title{{ node.title }}#</span>

    <ul v-if="node.sub && node.sub.length && (node.sub != 'undefined')">
      <node v-for="child in node.sub" :node="child"></node>
    </ul>
  </li>
</template>

<script>
export default {
  name: "node",
  props: {
    node: Object
  }
};
</script>

