<template>
  <div class="tree">
    <ul class="tree-list">
      <node-tree :node="treeData"></node-tree>
    </ul>
  </div>
</template>

<script>

import NodeTree from "./NodeTree";

export default {
  props: {
    treeData: Object
  },
  components: {
    NodeTree
  }

};
</script>

<style>


.tree-list ul {
	background: rgba(0,0,0, 0.1);
    padding-bottom: 10px;
    margin: 10px 0;
    padding: 10px;
}

</style>